image: "rust:latest"

test:cargo:
  script:
  - rustc --version && cargo --version
  - cargo build --all
  - cargo test --all --verbose

pages:
  script:
  - cargo doc
  - mv target/doc/ public/
  artifacts:
    paths:
    - public
  only:
    - master
