<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
      integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
      crossorigin="anonymous">
    <title>Pastebin</title>
  </head>
  <body>
    <div class="container" style="padding-top: 1em">
      <pre><code>{{data}}</code></pre>
    </div>
  </body>
</html>
